# 工作流名称
name: 编译打包 WPF 程序

env:
  PROJECT_NAME: MyMVVM
  BUILD_CONFIG: Release
  ZIP_NAME: Dispatch-win-x64-${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || github.event.inputs.manual_tag }}.zip

# 触发条件：push 到指定分支
on:
  create:
    tags: [ 'v*' ]
  workflow_dispatch:

# 任务定义
jobs:
  build:
    name: 编译打包 WPF 程序
    runs-on: windows-latest
    steps:

      - name: 拉取项目代码
        uses: actions/checkout@v4

      - name: 定位 MSBuild 工具
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: 清理输出目录
        shell: powershell
        run: Remove-Item -Path "./MyMVVM/bin/*" -Recurse -Force -ErrorAction SilentlyContinue

      - name: 安装NuGet
        uses: NuGet/setup-nuget@v2
        with:
          nuget-version: 'latest'

      - name: 还原NuGet程序包
        run: nuget restore ./MyMVVM.sln

      - name: 构建项目
        run: MSBuild ./MyMVVM/MyMVVM.csproj /t:Build /p:Configuration=Debug /p:Platform=x64

      - name: 复制 DLL
        shell: powershell
        run: Copy-Item -Path "./MyMVVM/DLL/*" -Destination "./MyMVVM/bin/x64/Debug/" -Recurse -Force

      - name: 压缩打包产物
        shell: powershell
        run: Compress-Archive -Path "./MyMVVM/bin/x64/Debug/*" -DestinationPath "./Dispatch-Debug-win-x64.zip" -Force

      - name: 列出构建、打包产物
        shell: powershell
        run: |
          ls -l ./

      - name: 发布到 GitHub Releases
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./Dispatch-Debug-win-x64.zip
          body: "调度系统程序包（X64版本）"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}